@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Poppins', sans-serif;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.inputSearch{
  width: 100%;
  max-width: 500px;
}
.shopIcon{
  font-size: 25px;
}
.banner{
  position: relative;
}
.bannerRek{
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.FooterBanner{
  background-image: url(./assets/images/buyurtmaQilish.png);
  background-size: cover;
  background-repeat: no-repeat;
}
li{
  cursor: pointer;
}